.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.5rem 3rem;
  z-index: 10;
  box-shadow: 1rem 1rem 32rem rgba(16, 172, 132,1.0);
  display: flex;
  align-items: center;

  &__name {
    margin-right: 5rem;

    & span {
      display: inline-block;
    }

    & span:nth-child(1) {
      color: rgba(192, 57, 43,1.0);
      font-weight: 700;
      font-size: 3rem;
    }

    & span:nth-child(2) {
      color: rgba(16, 172, 132,1.0);
      font-size: 3rem;
      text-transform: uppercase;
    }
  }
}